@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Styling for header */

img {
  width: 50px;
  height: 45px;
}

#header-text {
  font-size: 25px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* header {
  height: 100px;
} */

.navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-wrapper, .nav-menu ul {
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 25px;
}

.btn-register {
  background: #fff;
  border: none;
  border-radius:40px;
  height: 40px;
  width: 100px;
}


/* Styling for the Hero-section */

.hero-section {
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  text-align: center;
  padding: 160px
}

.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.hero-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1076px;
  height: 178px;
}

.hero-social img {
  width: 349px;
  height: 90px;
}

.hero-text {
  font-size: 72px;
  font-weight: bold;
  line-height: 80px;
}

.ht-secondary {
  color: #8b8b8b;
  line-height: 22px;
  font-size: 18px;
}

.btn-get-started {
    background: #a8ff35;
    border: none;
    font-weight: bold;
    font-size: 15px;
    border-radius:40px;
    height: 50px;
    width: 160px;
    margin-top: 20px;
    text-align: center;
}

.abstract {
  display: flex;
  gap: 10px;
}

.arrow {
  margin-top: 30px;
  transform: rotate(6deg);
}

.arrow p {
  font-size: 10px;
  line-height: none;
  font-style: italic;
  color: #8b8b8b;
}

.arrow img {
  height: 20px;
  width: 20px;
}

/* Styling for text */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 66px;
}

.t-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.t-container p {
  font-size: 64px;
  font-weight: bold;
}

.brown {
  color: #adadad
}
/* Styling for partners */

.partners {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 70px;
}

.partners h1 {
  font-size: 64px;
}

.p-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.brand {
  background: #f5f5f5;
  width: 200px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 15px;
}

.brand img {
  width: 150px;
  height: 40px;
}

/*Styling for socials*/

.socials {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  gap: 80px;
}

.socials h1 {
  font-size: 64px;
}

.platform {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  flex-wrap: wrap;
}

.fb, .tw, .db, .pt, .mm, .rd, .vk, .in {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 124px;
  height: 124px;
  border-radius: 20px;
}
.tw {
  background: #a8ff35;
}

.tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.one {
  height: 274px;
  width: 800px;
  border: none;
  border-radius: 20px;
}

.two {
  height: 804px;
  width: 800px;
  border-radius: 20px;
  border: none;
}

.view-more {
  border: none;
  color: #fff;
  font-size: 18px;
  background:#000;
  width: 200px;
  height: 50px;
  align-self: center;
  border-radius: 40px;
  margin-top: 20px;
}

/* Styling for deals */

.deals  {
  background: #000;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.deals-text {
  font-size: 54px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
}

.deal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.monthly {
  color: #fff;
}

.yearly {
  color: #8b8b8b;
}

/* toggle button */
.toggle {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 40px;
  border-radius: 3px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 7px;
  bottom: 7px;
  background-color: #a8ff35;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid #fff;
}

.slider.round:before {
  border-radius: 50%;
}

.deal-container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 40px;
}

.personal, .regular, .premium {
  color: #000;
  background: #fff;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 250px;
  height: 400px;
  border-radius: 30px;
  gap: 3px;
}

hr {
  background: #000;
  width: 250px;
  margin: 15px 0px;
}

.price {
  margin-bottom: 10px;
}

.dollar {
  font-size: 40px;
  font-weight: 900;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trial {
  border: none;
  background:#a8ff35;
  width: 200px;
  height: 50px;
  align-self: center;
  border-radius: 40px;
}

.dark {
  background: #000;
  color: #fff;
  margin-top: 80px ;
}

.p {
  margin-top: 111px;
}

.sa {
  margin-top: 18px;
}

.regular {
  background: #a8ff35;
}


/* Styling for newsletter */
.newsletter {
  background: #a8ff35;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2
}

.newsletter p {
  font-size: 72px;
  font-weight: bold;
}

.breaker {
  color: rgba(0, 0, 0, 0.213);
}

.btn-newsletter {
  border: none;
  color: #fff;
  font-size: 18px;
  background:#000;
  width: 200px;
  height: 50px;
  align-self: center;
  border-radius: 40px;
  margin-top: 20px;
}

/* Styling for footer */
footer .navbar {
  background: #fff;
  padding: 13px 80px;
  color: #000 
}

footer .navbar a {
  color: #000;
}

.tab1 {
position: absolute;
width: 348.65px;
height: 90.54px;
left: 186px;
top: 590px;
transform: rotate(-4deg);
}

.tab2 {
position: absolute;
width: 349.5px;
height: 89.72px;
left: 391.16px;
top: 635px;
transform: rotate(2deg);
}

.tab3 {
position: absolute;
width: 348.98px;
height: 89.27px;
left: 639.12px;
top: 595.78px;
transform: rotate(-2deg);
}

.tab4 {
position: absolute;
width: 349.76px;
height: 89.42px;
left: 913.6px;
top: 643px;
transform: rotate(4deg);
}

/* Styling for open-section */

.open {
  background: #a8ff35;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 30px;
}

.o-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.o-wrap h1 {
  font-size: 72px;
}
 
.o-wrap p {
  text-align: center;
}

.tabb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bx-1, .bx-3 {
  transform: rotate(6deg);
}

.bx-1 img{
  width: 28.39px;
  height: 34.45px;
  transform: rotate(6deg);
  align-self: flex-end;
}

.bx-3 img{
  width: 28.39px;
  height: 34.45px;
  transform: rotate(6deg);
}

.bxx {
  width: 100px;
  height: 72.57px;
  font-size: 12px;
  text-align: center;
}

.bx-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 502px;
  height: 202px;
  background: #F5F5F5;
  border-radius: 16px;
}

.bx-2 img {
  width: 341.23px;
  height: 82px;
}